
.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 40px 100px 40px;

}

.menu{
	grid-column: span 3;
	font-family: 'Playfair Display', serif;
}

.content{
	grid-column: span 9;
	height: 100vh;
}